@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor_prim: #005dd6;
    --cor_sec: #fa81b4;
    --font_family_1: 'Poppins', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--font_family_1);
}

.loading {
    width: 100%;
    height: 100vh;
    z-index: 99999;
    position: absolute;
    background: rgba(0,0,0,0.5);
    display: flex; /* Adicionado para usar Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-left: -12px;
}

.activity {
    max-width: 800px !important;
}

/* Adicione este estilo ao seu arquivo CSS ou na tag <style> no cabeçalho do seu HTML */
.image-row {
    display: flex; /* Isso fará com que as imagens fiquem lado a lado */
    width: 100% !important; /* Largura total da área de exibição das imagens */
    overflow-x: auto; /* Adiciona um scroll horizontal quando necessário */
    gap: 10px; /* Espaçamento entre as imagens (ajuste conforme necessário) */
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 5px;
    cursor: pointer;
}

.star {
    font-size: 1.5rem;
    color: #ccc;
}

.star.rated {
    color: #f39c12;
}

.star:hover,
.star:hover ~ .star {
    color: #f39c12;
}


.important {
    color: red;
    border-bottom: 1px solid red;
}

.activity-btn{
    background-color: var(--cor_prim) !important;
    color: #fff !important;
    transition: 0.5s !important;
}

.activity-btn:hover{
    background-color: var(--cor_sec) !important;
}

.activity-card{
    border: 2px solid var(--cor_prim);
    margin: 25px;
    padding: 10px;
}

.active {
    color: var(--cor_sec);
}

.c_p{
    color: var(--cor_prim);
}

.c_s{
    color: var(--cor_sec);
}

.admin-menu{
    rotate: 90deg;
}

.admin {
    margin-left: 64px; 
}

.menu_admin {
    list-style-type: none;
}


.friend-main {
    width: auto !important; 
}

.loading-failed {
    filter: sepia(1) saturate(10000%) hue-rotate(0deg) brightness(0.5);
}

.loading-failed img{
    animation: none;
}

@keyframes crescer {
    0% {
        transform: scale(0.5); /* Começa com metade do tamanho */
    }
    50% {
        transform: scale(1); /* Aumenta até o tamanho original */
    }

    100% {
        transform: scale(0.5); /* Aumenta até o tamanho original */
    }
}

.loading img {
    animation: crescer 2s infinite; /* Aplica a animação chamada 'crescer' que dura 2 segundos e se repete infinitamente */
    max-width: 100%; /* Garante que a imagem não ultrapasse o container */
    max-height: 100%; /* Garante que a imagem não ultrapasse o container */
    margin: auto; /* Centraliza a imagem no espaço disponível */
}


body{
    /* margin-left: 90px; */
    overflow-x: hidden !important;
}

.home input{
    max-width: 50%;
}

.home .left-side h1{
    font-size: 120px;
}   

.home .left-side h2{
    font-size: 60px;
}   

.home .right-side form input[type="submit"]{
    width: 35%;
    font-size: 20px;
    margin-top: 10px;
}

.home .right-side form input[type="submit"]:hover{
    background-color: var(--cor_sec);
    border: 1px solid var(--cor_sec);
}

i{
    font-size: 30px;
}

.d-flex {
    width: 70px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: auto; 
    max-width: 64px;
    height: 100vh;
    overflow: auto;
    border-right: 2px solid var(--cor_prim);
}

.signup_form input{
    margin-top: 10px;
}

.notification{
    margin-top: 20px;
}

.see_friend {
    text-decoration: none;
    color: white;
}

.see_friend:hover{
    color: white;
    text-decoration: none;
}

.btn-close{
    border: none;
    background-color: white;
}

.card-header {
    display: flex;
    justify-content: start; /* Alinha o conteúdo à esquerda */
    align-items: center;
    width: 100%; /* Ocupa a largura total */
}

.user-img {
    margin-right: 15px; /* Espaçamento entre a imagem e o nome do usuário */
}

.user-name {
    margin-bottom: 0; /* Remove a margem inferior do nome do usuário */
}

.friend-hidden{
    display: none;
}

.friend {
    cursor: pointer;
    margin-top: 15px;
}

.post-image{
    object-fit: cover;
}

#dm_search_friends{
    margin-top: 15px;
    outline: none;
    border: 1px solid var(--cor_prim);
    /* background-color: rgba(0,0,0,0.05); */
    height: 30px;
    padding: 5px;
}

.suggestions{
    display: none;
    min-height: 100px;
    max-height: 200px;
    border: 1px solid var(--cor_prim);
    overflow-y: auto;
}

.friend_suggest{
    cursor: pointer;
}

.create_group{
    margin-top: 15px;
}

.friends {
    max-height: 400px;
    overflow-y: auto;
}

.groups{
    margin-top: 15px;
    max-height: 400px;
    overflow-y: auto;
}

.family_menu .btn {
    max-height: 50px;
}

.family_menu .side-menus {
    max-width: 400px;
    margin-right: 0;
    margin-left: auto;
}

.family_menu .side-menus .family_members{
    max-height: 200px;
    overflow-y: auto;
}

.family_menu .container{
    width: 100% !important;
    /* margin: 0; */
}

.family_member {
    cursor:pointer;
    transition: 0.5s;
}

.family_member:hover{
    background-color: rgb(220,220,220);
}

.hidden {
    display: none;
}

.see_profile {
    line-height: 30px !important;
}


/* Estilo do perfil do usuário */
.profile-pict {
    max-width: 200px; /* ou outro tamanho conforme necessário */
    max-height: 200px !important; /* mantenha a proporção quadrada */
    border-radius: 50%; /* torna a imagem redonda */
    object-fit: cover; /* garante que a imagem cubra todo o espaço disponível */
    justify-content: center !important;  
    margin: auto !important; 
    margin-top: 10px !important;
}

.dm-window {
    height: 95vh !important;
}

#message_send{
    background-color: var(--cor_prim);
    transition: 0.5s;
    color: white;
}

#message_send:hover{
    background-color: var(--cor_sec);
}

/* Estilo do título do card */
.card-title {
    font-size: 1.25rem; /* tamanho da fonte do título */
    margin-bottom: 0.75rem; /* espaço abaixo do título */
}

/* Estilo do texto do card */
.card-text {
    font-size: 1rem; /* tamanho da fonte do texto */
}

.users_infos{
    max-width: 300px;
}

.users_infos .user-info{
    width: 100px;
    margin: auto;
}

.users_infos .user-friends{
    width: 200px;
    margin: auto;
}

.post {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
}
.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.post-header img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.post-header div {
    margin-left: 10px;
}
.post-content img {
    max-width: 100%;
    border-radius: 8px;
}
.post-creation {
    padding: 5px;
}

#preview {
    display: flex !important;
    max-height: 110px;
    width: 350px;
    padding: 5px;
}

.image-preview {
    position: relative;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
}

.image-preview img {
    border-radius: 8px;
    width: 100px;
    height: 100px;
    display: inline-flex;
    object-fit: cover; /* Para garantir que a imagem seja cortada para caber no quadrado */
}

.image-preview button {
    position: absolute;
    top: 0;
    right: 0;
}

/* Estilo para o formulário de novo post */
.post-form {
    max-width: 500px; /* Define a largura máxima do formulário */
    margin: 0 auto; /* Centraliza o formulário na página */
    padding: 20px; /* Adiciona espaço interno ao formulário */
    border: 1px solid #ccc; /* Adiciona uma borda ao redor do formulário */
    border-radius: 8px; /* Adiciona cantos arredondados ao formulário */
}

.post-form input[type="text"],
.post-form select {
    width: 100%; /* Define a largura total para os campos de texto e seleção */
    padding: 10px; /* Adiciona preenchimento interno aos campos de entrada */
    margin-bottom: 15px; /* Adiciona espaço entre os campos de entrada */
    border: 1px solid #ccc; /* Adiciona uma borda aos campos de entrada */
    border-radius: 5px; /* Adiciona cantos arredondados aos campos de entrada */
}

.post-form label {
    display: block; /* Faz com que as etiquetas ocupem uma linha inteira */
    font-weight: bold; /* Define a fonte negrito para as etiquetas */
    margin-bottom: 5px; /* Adiciona espaço entre as etiquetas e os campos de entrada */
}

.post-form button[type="submit"] {
    background-color: #007bff; /* Define a cor de fundo do botão */
    color: #fff; /* Define a cor do texto do botão */
    border: none; /* Remove a borda do botão */
    padding: 10px 20px; /* Adiciona preenchimento interno ao botão */
    border-radius: 5px; /* Adiciona cantos arredondados ao botão */
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
}

.post-form button[type="submit"]:hover {
    background-color: #0056b3; /* Altera a cor de fundo do botão ao passar o mouse sobre ele */
}


.btn-primary {
    border-radius: 30px;
    height: 45px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.post-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Ajuste a margem conforme necessário */
}

.post {
    width: 100%;
    max-width: 700px; /* Ajuste conforme necessário */
}

.post .carousel {
    margin-top: 15px; /* Ajuste conforme necessário */
}

.carousel-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

.user-posts{
    height: 800px;
    overflow-y: auto;
    padding: 40px;
}

.images {
    min-width:400px;
    width: auto;
    overflow-x: auto;
}

.images img{
    margin: 20px;
}

.btn-load-more {
    align-items: center;
}

.users_infos{
    margin-top: 20px;
}

.comment_notification {
    background-color: white; 
    padding: 2px;
    border-radius: 5px;
    width: 100%;
}

.btn-files{
    justify-content: center;
}

.like {
    cursor: pointer;
}

.color_default{
    border: 2px solid rgba(200,200,200) !important;
}

.color_friends{
    border: 2px solid rgb(0, 255, 21) !important;
}

.color_family{
    border: 2px solid;
    /* Defina um gradiente linear para a borda usando as cores primária e secundária */
    border-image: linear-gradient(to right, var(--cor_prim), var(--cor_sec)) 1;
    /* Defina a largura da borda como 1px */
    /* border-width: 2px; */
}

.new_post {
    position: fixed; /* Define a posição fixa para o botão */
    bottom: 0px; /* Alinha o botão na parte inferior da página */
    left: 50%; /* Alinha o botão no centro horizontalmente */
    transform: translate(-50%, -50%); /* Move o botão para a esquerda em 50% da sua largura e para cima em 50% da sua altura, para centralizá-lo */
    z-index: 9999; /* Define um índice Z alto para garantir que o botão esteja acima de outros elementos */
    transition: 0.5s;
}

.new_post:hover{
    background-color: var(--cor_sec) !important;
    border: none;
}


.direct_msg .left-side .dm-window{
    margin-top: 25px;
}

.direct_msg .left-side .dm-window .user-info{
    height: 70px;
    width: 100%;
    margin: auto;
    background-color: rgba(0,93,214);
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #fff;
}

.direct_msg .left-side .dm-window .user-info img{
    width: 59px;
    height: 59px;
    border-radius: 100%;
    margin-left: 10px;
}

.direct_msg .left-side .dm-window .messages {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    overflow-x: hidden;
    max-height: 700px;
}

.direct_msg .left-side .dm-window .messages .message {
    display: inline-block !important;
    max-width: 90%;
    margin: 10px 0;
    padding: 10px;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    word-wrap: break-word;
}


.direct_msg .left-side .dm-window .messages .message .msg_date{
    display: none;
}

.direct_msg .left-side .dm-window .messages .friend_msg{
    align-self: flex-start;
    background-color: rgb(200,200,200);
}

.direct_msg .left-side .dm-window .messages .self{
    align-self: flex-end;
    background-color: var(--cor_prim);
    
}

.direct_msg .left-side .dm-window .bottom-bar{
    width: 100%;
    background-color: var(--cor_prim);
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.direct_msg .left-side .dm-window .bottom-bar input[type="text"]{
    width: 88%;
    height: 80%;
    justify-self: left !important;
    margin-left: 5px;
    outline: none;   
    border-radius: 8px;
    font-size: 22px;
    padding-left: 5px;
}

.direct_msg .left-side .dm-window .bottom-bar #message_send{
    width: 10%;
    height: 80%;
    border: none;
    background-color: white;
    font-size: 22px;
    border-radius: 8px;
    color: #000;
    margin-left: 0.5%;
    margin-right: 0.5%;
    cursor: pointer;
}

.notification-icon {
    position: relative;
}

.notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid white; /* Optional: adds a white border around the badge */
}

.like i{
    color: var(--cor_prim) !important;
    transition: 0.5s;
}

.like:hover i {
    color: var(--cor_sec) !important;
}

.comments-list {
    max-height: 150px;
    overflow-y: auto;
}

.comments-list .comment {
    display: flex;
    width: 100% !important;
    justify-content: space-between; /* Adicionado para separar o comentário do botão de deletar */
}

.comments-list .comment-body {
    flex-grow: 1; /* Faz com que a área do comentário ocupe o máximo de espaço possível */
}

.comments-list .comment #deleteButton {
    float: right;
}
